* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Scroll webkit CSS */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  transition: 0.2s ease-in-out;
}

*::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

a {
  text-decoration: none;
  color: inherit;
}
