name: Frontend Deployment

on:
  push:
    branches:
      - main
    paths:
      - "frontend/**"
      - ".github/workflows/frontend-deploy.yml"
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    environment: Production
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          sparse-checkout: frontend

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          package_json_file: frontend/package.json

      - name: Install dependencies
        run: |
          cd frontend
          pnpm install --frozen-lockfile

      - name: Build
        run: |
          cd frontend
          pnpm run build

      - name: Get AWS Access Token via OIDC
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: ap-northeast-2

      - name: Deploy to S3
        run: |
          aws s3 sync frontend/out s3://dev.chzzk.junah.dev --delete

      - name: Create CloudFront Invalidation
        run: |
          aws cloudfront create-invalidation --distribution-id E1OYFKAHEEGMXM --paths "/*"
